.archive-title
  color color-meta
  font-weight normal
  margin-bottom 30px
  text-shadow 0 0 1px #fff
  &:before
    font-family font-icon
    content '\f073'
    padding-right 15px

  &.tag
    &:before
      content '\f02b'

  &.category
    &:before
      content '\f07b'

.archive
  box-shadow 1px 2px 3px color-border
  border-bottom 1px solid color-border
  margin-bottom 50px
  padding-bottom 10px
  background #fff
  article
    box-shadow none
    .icon
      top 12px
      left 10px
      &:before
        font-size: 22px
    .post-content
      margin-bottom 0
      padding 10px 20px 0px 45px
    time
      display inline-block
      margin-right 0.5em
    .title
      display inline-block
      font-size 1em
